:root {
  --silver: #bec2cb;
  --black: #323334;
  --gold: #ffd700;
  --cubic-500: 500ms cubic-bezier(0.56, -0.84, 0.49, 1.56);
}
body {
  padding: 0;
  margin: 0;

  background-color: var(--black);
}
.not-login {
  position: relative;
  font-size: 3vmin;
  display: block;
  width: 100%;

  height: 100%;
  background-size: cover;
  background-position: center;
}

.not-login > div {
  height: fit-content;

  background-repeat: no-repeat;
  background-size: cover;
}

.not-login > div:nth-of-type(1) > div > h1 {
  word-wrap: break-word;
  line-height: 1em;
  display: block;
  margin: 0 !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  color: var(--black);

  font-weight: 500;
}

.not-login p {
  text-align: center;
}

#text {
  word-wrap: break-word;
  display: block;
  font-weight: 500;
  width: 100%;
  font-size: 1em;
  margin: 0;
  color: var(--black);
  font-weight: 400;

  text-align: center;
}

.not-login > div:nth-of-type(1) > div > div {
  margin: 0 auto;
  width: 100%;
  margin-top: 3em;
}

.not-login > div:nth-of-type(1) > div > p {
  display: flex;
  justify-content: center;
}

.not-login > div:nth-of-type(1) > div > p > svg {
  width: 4em;
  color: var(--gold);
  align-self: baseline;
}

.not-login > div:nth-of-type(1) > div > p > svg:nth-of-type(1),
.not-login > div:nth-of-type(1) > div > p > svg:nth-of-type(5) {
  width: 3em;
}

.not-login > div:nth-of-type(1) > div > p > svg:nth-of-type(3) {
  width: 5em;
}

.btn-masuk {
  margin: 0 auto;
  font-size: 1em;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

/* box card */
.box-card {
  margin: 1.5em 0;
  justify-content: space-around;
}

.box-card > div {
  border: 1px solid var(--black);
  border-radius: 5px;
  font-size: 2vmin;
  margin-top: 1em;

  padding: 1em 0.5em;
}

.box-card > div > p:nth-of-type(1) {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
}

.box-card p {
  text-align: center;
  color: var(--black);
  margin: 0;
}

.box-card > div > p:nth-of-type(2) {
  font-size: 1.3em;
}

/* footer */

footer {
  width: 100%;
  margin: 1em 0;
  font-size: 2vmin;
  height: 6vh;
  position: relative;
}

footer p {
  color: var(--silver);
  text-transform: capitalize;
  font-size: 1.5em;
  bottom: 0;
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
}

/* animation loading */

.load {
  transform: translateY(40vh);
  position: relative;
  width: fit-content;
  margin: 0 auto;
  font-size: 2vmin;
  width: 33em;
  /* border: 1px solid red; */
  height: 11em;

  overflow: hidden;
}

.load > p {
  text-align: center;
  font-weight: bolder;
  font-size: 10em;
  text-transform: uppercase;
  position: absolute;
  line-height: 1;
}

.load > p {
  color: var(--silver);
  /* -webkit-text-stroke: 2px var(--light); */
}

.load > p:nth-of-type(2) {
  color: var(--light);
  animation: liquid 4s ease-in-out infinite;
}

@keyframes liquid {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.load span {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;

  animation: buble 2s infinite;
}

@keyframes buble {
  0% {
    transform: translateY(4em);
    background-color: var(--light);
  }

  100% {
    background-color: var(--black);
    transform: translateY(0.1em);
  }
}
